.small-text {
font-size: 10px !important;
}

.img-round {
    border-radius: 50% !important;
}

.price-bottom {
    bottom: 7px;
    position: absolute;
    right: 13px;
}

.text-small {
    font-size:10px !important;
}

.text-big {
    font-size: 25px !important;
    font-weight: bolder;
    position: relative;
    left: 35px;
    top: 50px !important;
}

p {
    padding: 0 !important;
}

.pad {
    padding: 5px !important;
}

.bg-success{
    background-color: var(--ion-color-success);
    color: white !important;
}