<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" color="primary">Select Cleaner</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-text-center dark-color card-border-radius">
    <ion-card-content class="ion-no-padding">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" size="2">
            <img height="50" src="../../../assets/images/Rectangle 159.png" alt="">
          </ion-col>
          <ion-col class="ion-text-left ion-padding-start" size="6">
            <ion-text class="small-text" color="dark">Choosen {{service.packageType}} Package
              <br>
              <ng-container *ngIf="service.packageType=='luxurious'">
                <ion-text color="primary" *ngIf="!service.addOn"> No Add ons </ion-text>
                <ion-icon color="primary" name="add-circle"   *ngIf="!service.addOn" (click)="addOnSupply()"></ion-icon>
                <ion-text color="primary" *ngIf="service.addOn">Add on selected </ion-text>
                <ion-icon color="primary"  *ngIf="service.addOn" name="remove-circle" (click)="addOnSupply()"></ion-icon>
              </ng-container>

            </ion-text>

          </ion-col>
          <ion-col class="ion-text-left ion-padding-start" size="4">
            <ion-text color="light">$ 30.00 / Hour</ion-text>


          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  <br>
  <div class="ion-text-center">
    <ion-text color="primary" class="ion-padding-end ion-padding-start"> How many cleaners do you need ?</ion-text>
  </div>
  <h6 style="padding: 5px;">
    <ion-icon style="position: absolute;right: 20px;" name="caret-up-outline"></ion-icon>
  </h6>

  <div style="height: 200px;overflow: auto;">

    <ion-card *ngFor="let cleaner of cleaners" class="ion-text-center dark-color card-border-radius">
      <ion-card-content class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-padding-top">
            <ion-col size="3">
              <img class="img-round" height="50" width="50" src="../../../assets/images/Rectangle 159.png" alt="">
            </ion-col>
            <ion-col class="ion-text-left" size="5">
              <ion-text class="small-text" color="light">{{cleaner.firstName}} {{cleaner.lastName}}
              </ion-text>

            </ion-col>
            <ion-col class="ion-text-right ion-padding-end" size="4">
              <ion-text class="price-bottom" color="success">$ 230</ion-text>


            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </div>
  <h6 style="padding: 5px;">
    <ion-icon style="    position: absolute;
    right: 20px;" name="caret-down-outline"></ion-icon>
  </h6>

  <div class="ion-padding-end ion-padding-start">
    <ion-grid class="ion-no-padding" fixed>
      <ion-row class="text-small">
        <ion-col class="ion-no-padding" size="8">
          <b>Total Billing</b>
          <div>Service Hours : 2</div>
          <div>Tax : </div>
          <div>Total</div>
          <div>add-on</div>
        </ion-col>
        <ion-col size="4">
          <ion-text class="text-big" color="primary">1012 $</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <div class="ion-padding">
    <ion-button routerLink="/customer/waiting-for-approval" class="btn-txt" expand="block" color="primary" shape="round">
      Send Requests
    </ion-button>
  </div>

</ion-content>
