<ion-header >
  <ion-toolbar color="medium">
  <!--   <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons> -->
    <ion-title size="small" color="primary">Set Availability</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="ion-padding ion-text-center">
    <img src="../../../assets/images/Soolah-new-logo-color.svg" alt="Soolah" width="96">
  </div>

  <div class="ion-padding ">
    <ion-card color="medium" class="ion-text-center dark-color ion-padding-bottom card-border-radius">
      <ion-card-header>
        <img class="img-round" width="50" height="50" [src]="profile?.profilePic" alt="">

        <ion-card-title>
         <div>   <ion-icon color="light" name="star"></ion-icon> {{profile?.myRatings}} </div>
        {{profile?.firstName}} {{profile?.lastName}}

        </ion-card-title>
      </ion-card-header>
      <ion-card-content routerLink="/cleaner/notifications">
        <small>Thank you for setting your availability,We will notify you asap</small>
      </ion-card-content>
    </ion-card>

  </div>

  <div class="ion-padding ">

    <ion-button  routerLink="/cleaner/home" class="btn-txt" expand="block" color="secondary"   shape="round">
     Back to Home
    </ion-button>

  </div>

</ion-content>
