<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" color="primary">New Request</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <h5 class="ion-padding-start"> <b> Select Zones </b></h5>
  <div class="flex">
    <form>
        <input type="radio" id="residential" [(ngModel)]="cleaningType" [ngModelOptions]="{standalone: true}"
        value="residential">
        <label for="residential">Residential</label>
        <input type="radio" id="commercial" [(ngModel)]="cleaningType" [ngModelOptions]="{standalone: true}"
        value="commercial">
        <label for="commercial">Commercial</label>
    </form>
  </div>
  <div class="address">
    <input class="address-input" [(ngModel)]="cleaningaddress.address" type="text" ngx-google-places-autocomplete
      #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" placeholder="Select address">
  </div>
  <br>
  <b class="ion-padding ">Select Dates</b>
  <ion-calendar color="primary" [(ngModel)]="dates" (change)="onDateChange($event)" [type]="type"
    [options]="optionsRange" [format]="'YYYY-MM-DD'">
  </ion-calendar>
  <br>
  <b class="ion-padding ">Select Hours</b>
  <ion-grid fixed class="ion-no-padding ">
    <ion-row class="ion-no-padding ">
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary" >Start Time</ion-label>
          <ion-datetime [disabled]="!cleaningRequestedToDate && !cleaningRequestedFromDate" display-format="h:mm A" picker-format="h:mm A" (ionChange)="starttimechanged($event)"
            minuteValues="0" value="1990-02-19T01:30Z"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label color="primary">End Time</ion-label>
          <ion-datetime [disabled]="!cleaningRequestedToDate && !cleaningRequestedFromDate" display-format="h:mm A" picker-format="h:mm A" (ionChange)="endtimechanged($event)"
            minuteValues="0" value="1990-02-19T02:30Z"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding ">



    <ion-button [disabled]="!isValid()" (click)="navigate()" class="btn-txt" expand="block" color="secondary" shape="round">
      Next
    </ion-button>

  </div>

</ion-content>
