<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" color="primary">New Request</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <h5 class="ion-padding-start"> <b> Select Zones </b></h5>
  <div class="flex">
    <form>
        <input type="radio" id="residential" [(ngModel)]="cleaningType" [ngModelOptions]="{standalone: true}"
        value="residential">
        <label for="residential">Residential</label>
        <input type="radio" id="commercial" [(ngModel)]="cleaningType" [ngModelOptions]="{standalone: true}"
        value="commercial">
        <label for="commercial">Commercial</label>
    </form>
  </div>
   <div class="address">
    <input class="address-input" [(ngModel)]="cleaningaddress.address" type="text" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"  placeholder="Select address">
   </div>

  <div class="ion-padding ">



    <ion-button (click)="navigate()" class="btn-txt" expand="block" color="secondary" shape="round">
      Next
    </ion-button>

  </div>

</ion-content>
