<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" color="primary">Change Password</ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="ion-padding ion-text-center">
    <img src="../../../assets/images/Soolah-new-logo-color.svg" alt="Soolah" width="96">
  </div>
  <form [formGroup]="formData" (ngSubmit)="onSubmit()" method="post">
    <ion-list lines="full" class="ion-padding-horizontal">
      <div class="custom-field floating">
        <ion-input type="text" formControlName="oldPassword" required></ion-input>
        <ion-label position="floating">Old Password</ion-label>
        <div *ngIf="validation.oldPassword.errors && validation.oldPassword.dirty">
          <ion-text color="danger" *ngIf="validation.oldPassword?.errors?.required">
            <p>Field is required!</p>
          </ion-text>
        </div>
      </div>

      <div class="custom-field floating">
        <ion-input type="password" formControlName="password">
        </ion-input>
        <ion-label position="floating">Password</ion-label>
      </div>
      <div *ngIf="validation.password.errors && validation.password.dirty">
        <ion-text color="danger" *ngIf="validation.password.errors?.required">
          Password is required!
        </ion-text>
        <ion-text color="danger" *ngIf="validation.password?.errors?.pattern">
          Your password must be have at least!
          <ul color="danger">
            <li>Minimum 8 character</li>
            <li>1 Uppercase & 1 lowercase character</li>
            <li>1 Number</li>
            <li>1 Special character</li>
          </ul>
        </ion-text>
      </div>

      <div class="custom-field floating">
        <ion-input type="text" formControlName="confirmPassword" (keyup)="comparePassword()">
        </ion-input>
        <ion-label position="floating">Confirm Password</ion-label>
      </div>
      <div *ngIf="validation.confirmPassword.errors && validation.confirmPassword.dirty">
        <ion-text color="danger" *ngIf="validation.confirmPassword?.errors?.required">
          Confirm the password!
        </ion-text>
      </div>
      <ion-text color="danger" *ngIf="!comparePassword() && validation.confirmPassword.dirty">
        Password not match!
      </ion-text>
    </ion-list>

    <div class="ion-padding-horizontal">
      <ion-button type="submit" size="large" expand="block" color="secondary" text-align="center"
        [disabled]="!formData.valid && !comparePassword()">
        Save</ion-button>
    </div>
  </form>
</ion-content>