<ion-header class="bg-medium">
  <ion-toolbar color="medium">
    <!--     <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons> -->
    <ion-title size="small" color="primary">Orders</ion-title>
  </ion-toolbar>
  <ion-segment scrollable color="secondary" value="upcoming" (ionChange)="segmentChanged($event)">
    <ion-segment-button size="small" value="upcoming">
      <ion-label color="primary" size="small">Upcoming</ion-label>
    </ion-segment-button>
    <ion-segment-button size="small" value="active">
      <ion-label color="primary" size="small">Active</ion-label>
    </ion-segment-button>
    <ion-segment-button size="small" value="completed">
      <ion-label color="primary" size="small">Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button size="small" value="cancelled">
      <ion-label color="primary" size="small">Cancelled</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <ng-container *ngIf="segmentvalue=='upcoming' && orders">
    <ng-container *ngIf="orders.length==0">
      <div class="ion-padding ion-text-center">
        <img src="../../../assets/images/Soolah-new-logo-color.svg" alt="Soolah" width="96" />
      </div>

      <div>
        <ion-card color="medium" class="
            ion-text-center
            dark-color
            ion-padding-bottom
            card-border-radius
          ">
          <ion-card-header>
            <img class="img-round" width="50" height="50" [src]="profile?.profilePic" alt="" />
            <ion-card-title>
              <div>
                <ion-icon color="light" name="star"></ion-icon> 0.0
              </div>
              <small>  {{profile?.firstName}} {{profile?.lastName}} </small>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 class="text-big">0</h1>
            <h1 class="text-big">Orders</h1>
            <small> We will notify you asap !</small>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>


    <ng-container *ngIf="orders.length!=0">
      <ion-card *ngFor="let item of orders" color="medium" class="ion-text-center dark-color card-border-radius">
        <ion-card-content class="ion-no-padding">
          <ion-grid class="ion-no-padding" fixed>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding" size="8">
                <div class="display-flex ion-padding-top ion-padding-start">
                  <img [src]="item.customerId.profilePic" class="img-round" alt="Soolah" width="35" height="35" />
                  <b class="customer-name ion-margin-start"> {{item.customerId.firstName}} {{item.customerId.lastName}}
                  </b>
                </div>
                <div class="display-flex ion-padding-start">
                  <small style="text-transform: uppercase;">{{item.bookingId.cleaningType}} </small>
                  <ion-button class="btn" size="small" color="secondary" shape="round">Upcoming
                  </ion-button>
                </div>
                <div class="display-flex ion-padding-start">
                  <small> {{item.bookingId.cleaningRequestedFromDate | date}} to
                    {{item.bookingId.cleaningRequestedToDate | date}}</small>
                </div>
                <div class="display-flex ion-padding-start">
                  <small> {{item.bookingId.cleaningStartTime | date:'shortTime'}} to
                    {{item.bookingId.cleaningEndTime | date:'shortTime'}} </small>
                </div>
              </ion-col>
              <ion-col size="4">
                <agm-map  [usePanning]="true"  [zoom]="13" [latitude]="item.bookingId.cleaningLocationLattitude" [longitude]="item.bookingId.cleaningLocationLongitude">
                  <agm-marker    [latitude]="item.bookingId.cleaningLocationLattitude" [longitude]="item.bookingId.cleaningLocationLongitude">
                    <!--     <agm-info-window>{{item.address}}</agm-info-window> -->
                  </agm-marker>

                </agm-map>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="segmentvalue=='active' && orders">
    <ng-container *ngIf="orders.length==0">
      <div class="ion-padding ion-text-center">
        <img src="../../../assets/images/Soolah-new-logo-color.svg" alt="Soolah" width="96" />
      </div>

      <div>
        <ion-card color="medium" class="
            ion-text-center
            dark-color
            ion-padding-bottom
            card-border-radius
          ">
          <ion-card-header>
            <img class="img-round" width="50" height="50" [src]="profile?.profilePic" alt="" />
            <ion-card-title>
              <div>
                <ion-icon color="light" name="star"></ion-icon> 0.0
              </div>
              <small>  {{profile?.firstName}} {{profile?.lastName}} </small>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 class="text-big">0</h1>
            <h1 class="text-big">Orders</h1>
            <small> We will notify you asap !</small>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>
    <ng-container *ngIf="orders.length!=0 ">
      <ion-card *ngFor="let item of orders" color="medium" class="ion-text-center dark-color card-border-radius">
        <ion-card-content class="ion-no-padding">
          <ion-grid class="ion-no-padding" fixed>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding" size="8">
                <div class="display-flex ion-padding-top ion-padding-start">
                  <img [src]="item.customerId.profilePic" class="img-round" alt="Soolah" width="35" height="35" />
                  <b class="customer-name ion-margin-start"> {{item.customerId.firstName}} {{item.customerId.lastName}}
                  </b>
                </div>
                <div class="display-flex ion-padding-start">
                  <small style="text-transform: uppercase;">{{item.bookingId.cleaningType}} </small>
                  <ion-button class="btn" size="small" color="primary" shape="round">Active
                  </ion-button>
                </div>
                <div class="display-flex ion-padding-start">
                  <small> {{item.bookingId.cleaningRequestedFromDate | date}} to
                    {{item.bookingId.cleaningRequestedToDate | date}}</small>
                </div>
                <div class="display-flex ion-padding-start">
                  <small> {{item.bookingId.cleaningStartTime | date:'shortTime'}} to
                    {{item.bookingId.cleaningEndTime | date:'shortTime'}} </small>
                </div>
              </ion-col>
              <ion-col size="4">
                <agm-map  [usePanning]="true"  [zoom]="13" [latitude]="item.bookingId.cleaningLocationLattitude" [longitude]="item.bookingId.cleaningLocationLongitude">
                  <agm-marker    [latitude]="item.bookingId.cleaningLocationLattitude" [longitude]="item.bookingId.cleaningLocationLongitude">
                    <!--     <agm-info-window>{{item.address}}</agm-info-window> -->
                  </agm-marker>

                </agm-map>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="segmentvalue=='completed' && orders">
    <ng-container *ngIf="orders.length==0">
      <div class="ion-padding ion-text-center">
        <img src="../../../assets/images/Soolah-new-logo-color.svg" alt="Soolah" width="96" />
      </div>

      <div>
        <ion-card color="medium" class="
            ion-text-center
            dark-color
            ion-padding-bottom
            card-border-radius
          ">
          <ion-card-header>
            <img class="img-round" width="50" height="50" [src]="profile?.profilePic" alt="" />
            <ion-card-title>
              <div>
                <ion-icon color="light" name="star"></ion-icon> 0.0
              </div>
              <small>  {{profile?.firstName}} {{profile?.lastName}} </small>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 class="text-big">0</h1>
            <h1 class="text-big">Orders</h1>
            <small> We will notify you asap !</small>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>
    <ng-container *ngIf="orders.length!=0 ">
      <ion-card *ngFor="let item of orders" color="medium" class="ion-text-center dark-color card-border-radius">
        <ion-card-content class="ion-no-padding">
          <ion-grid class="ion-no-padding" fixed>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding" size="8">
                <div class="display-flex ion-padding-top ion-padding-start">
                  <img [src]="item.customerId.profilePic" class="img-round" alt="Soolah" width="35" height="35" />
                  <b class="customer-name ion-margin-start"> {{item.customerId.firstName}} {{item.customerId.lastName}}
                  </b>
                </div>
                <div class="display-flex ion-padding-start">
                  <small style="text-transform: uppercase;">{{item.bookingId.cleaningType}} </small>
                  <ion-button class="btn" size="small" color="success" shape="round">Completed
                  </ion-button>
                </div>
                <div class="display-flex ion-padding-start">
                  <small> {{item.bookingId.cleaningRequestedFromDate | date}} to
                    {{item.bookingId.cleaningRequestedToDate | date}}</small>
                </div>
                <div class="display-flex ion-padding-start">
                  <small> {{item.bookingId.cleaningStartTime | date:'shortTime'}} to
                    {{item.bookingId.cleaningEndTime | date:'shortTime'}} </small>
                </div>
              </ion-col>
              <ion-col size="4">
                <agm-map  [usePanning]="true"  [zoom]="13" [latitude]="item.bookingId.cleaningLocationLattitude" [longitude]="item.bookingId.cleaningLocationLongitude">
                  <agm-marker    [latitude]="item.bookingId.cleaningLocationLattitude" [longitude]="item.bookingId.cleaningLocationLongitude">
                    <!--     <agm-info-window>{{item.address}}</agm-info-window> -->
                  </agm-marker>

                </agm-map>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="segmentvalue=='cancelled' && orders">
    <ng-container *ngIf="orders.length==0">
      <div class="ion-padding ion-text-center">
        <img src="../../../assets/images/Soolah-new-logo-color.svg" alt="Soolah" width="96" />
      </div>

      <div>
        <ion-card color="medium" class="
            ion-text-center
            dark-color
            ion-padding-bottom
            card-border-radius
          ">
          <ion-card-header>
            <img class="img-round" width="50" height="50" [src]="profile?.profilePic" alt="" />
            <ion-card-title>
              <div>
                <ion-icon color="light" name="star"></ion-icon> 0.0
              </div>
              <small>  {{profile?.firstName}} {{profile?.lastName}} </small>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 class="text-big">0</h1>
            <h1 class="text-big">Orders</h1>
            <small> We will notify you asap !</small>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>

    <ng-container *ngIf="orders.length!=0">
      <ion-card *ngFor="let item of orders" color="medium" class="ion-text-center dark-color card-border-radius">
        <ion-card-content class="ion-no-padding">
          <ion-grid class="ion-no-padding" fixed>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding" size="8">
                <div class="display-flex ion-padding-top ion-padding-start">
                  <img [src]="item.customerId.profilePic" class="img-round" alt="Soolah" width="35" height="35" />
                  <b class="customer-name ion-margin-start"> {{item.customerId.firstName}} {{item.customerId.lastName}}
                  </b>
                </div>
                <div class="display-flex ion-padding-start">
                  <small style="text-transform: uppercase;">{{item.bookingId.cleaningType}} </small>
                  <ion-button class="btn" size="small" color="danger" shape="round">Cancelled
                  </ion-button>
                </div>
                <div class="display-flex ion-padding-start">
                  <small> {{item.bookingId.cleaningRequestedFromDate | date}} to
                    {{item.bookingId.cleaningRequestedToDate | date}}</small>
                </div>
                <div class="display-flex ion-padding-start">
                  <small> {{item.bookingId.cleaningStartTime | date:'shortTime'}} to
                    {{item.bookingId.cleaningEndTime | date:'shortTime'}} </small>
                </div>
              </ion-col>
              <ion-col size="4">
                <agm-map  [usePanning]="true"  [zoom]="13" [latitude]="item.bookingId.cleaningLocationLattitude" [longitude]="item.bookingId.cleaningLocationLongitude">
                  <agm-marker   [latitude]="item.bookingId.cleaningLocationLattitude" [longitude]="item.bookingId.cleaningLocationLongitude">
                    <!--     <agm-info-window>{{item.address}}</agm-info-window> -->
                  </agm-marker>

                </agm-map>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>


</ion-content>
