.text-color {
    color:var(--ion-color-primary)
}

.text-big {
    font-size: 40px !important;
}

.customer-name {
    padding-top: 5px;
    font-size: 14px !important;
}


.display-flex {
    display: flex !important;
}

.btn {
    font-size:  8px !important;
}

small {
    margin-top: 5px !important;
}


agm-map {
    height: 150px;
  }