.text-color {
    color:var(--ion-color-primary)
}

.text-big {
    font-size: 40px !important;
}

.display-flex {
    display: flex !important;
}

.btn {
    font-size:  8px !important;
}

small {
    margin-top: 5px !important;
}