<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" color="primary">Notifications</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <div class="ion-padding">
    <ng-container  *ngFor="let item of notificationsdata">
      <ion-card color="success"  *ngIf="item.notificationData.type=='ORDER_CREATED'" class="card-border-radius">
        <ion-grid fixed>
        <!--   <small>  {{item.createdAt | date}}  </small> -->
          <ion-row>
            <ion-col size="2">
              <ion-icon style="padding: 5px;" name="notifications" size="small"></ion-icon>
            </ion-col>
            <ion-col size="10"> <small> {{item.notificationData.firstName}} {{item.notificationData.lastName}} has sent you a request for a job </small></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    </ng-container>


  </div>


</ion-content>
