<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" color="primary">Wait for approval</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-padding-end ion-padding-start ion-padding-top" fixed>
    <ion-row>
      <img src="../../../assets/images/avatar.png" width="50" height="50" class="img-round" alt="">
      <span class="ion-padding"> Robin Customer</span>
    </ion-row>
    <br>
    <div>
      <div class="text-small"> Residential </div>
      <div class="text-small"> Monday 24th August 2021 </div>
      <div class="text-small"> 11:00 am - 11:30 am </div>
    </div>
  </ion-grid>
  <ion-item-divider>
  </ion-item-divider>

  <div class="ion-text-center ">
    <ion-text color="secondary" class="text-big"> Pending</ion-text>

  </div>

  <div class="ion-padding">

    <p>
      <ion-icon name="time"></ion-icon> 2 hr
    </p>

    <p>
      <ion-icon name="calendar"></ion-icon> 9:00 am to 11:00 am 24th August Tuesday
    </p>

    <p>
      <ion-icon name="globe"></ion-icon> Canada GMT 4
    </p>

  </div>

  <div class="ion-padding">

    <p class="ion-text-center">
      A request for the appointment will be sent to the cleaner. Please wait until it gets confirmed. Thankyou for your
      patience
    </p>

  </div>

</ion-content>
