<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" color="primary">Wait for approval</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="service.tempbookingdata">

  <ion-grid class="ion-padding-end ion-padding-start ion-padding-top" fixed>
    <ion-row>
      <img [src]="profile?.profilePic" width="50" height="50" class="img-round" alt="">
      <span class="ion-padding">{{profile?.firstName}} {{profile?.lastName}}</span>
    </ion-row>
    <br>
    <div>
      <div class="text-small pad"> {{service.tempbookingdata?.cleaningType}} </div>
      <div class="text-small pad"> {{service.tempbookingdata?.cleaningRequestedFromDate | date}} to
        {{service.tempbookingdata?.cleaningRequestedToDate | date}} </div>
      <div class="text-small pad"> {{service.tempbookingdata?.cleaningStartTime | date:'shortTime'}} -
        {{service.tempbookingdata?.cleaningEndTime | date:'shortTime'}}</div>
    </div>
  </ion-grid>
  <ion-item-divider>
  </ion-item-divider>

  <div class="ion-text-center ">
    <ion-text color="secondary" class="text-big"> Pending</ion-text>

  </div>

  <div class="ion-padding">

    <p>
      <ion-icon name="time"></ion-icon> <span style="text-transform: capitalize;">
        {{service.tempbookingdata?.cleaningType}} </span>
    </p>

    <p>
      <ion-icon name="calendar"></ion-icon> {{service.tempbookingdata?.cleaningStartTime | date:'shortTime'}} -
      {{service.tempbookingdata?.cleaningEndTime | date:'shortTime'}}
      {{service.tempbookingdata?.cleaningRequestedFromDate | date}} to
      {{service.tempbookingdata?.cleaningRequestedToDate | date}}
    </p>

    <p>
      <ion-icon name="globe"></ion-icon> Canada GMT 4
    </p>

  </div>

  <div class="ion-padding">

    <p class="ion-text-center ">
      <ion-text color="secondary">
        A request for the appointment will be sent to the cleaner. Please wait until it gets confirmed. Thank you for
        your
        patience
      </ion-text>
    </p>

  </div>

</ion-content>
