.text-big {
    font-size: 40px !important;
}

.img-round {
    border-radius: 50% !important;
}

.card-border-radius {
    border-radius: 20px !important;
    box-shadow:4px 4px 22px rgb(0 0 0 / 20%) !important;
}





h1 {
    font-weight: bold;
}